.createPost-row{
    margin-top: .3rem;
    margin-bottom: .3rem;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.createPost-box{
    padding: 1.2rem;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}
.createPost-bar{
    margin-left: .6rem;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    font-size: 1rem;
    padding: .5rem;
    background-color: #f5f5f5;
    width: 100%;
    border-radius: .5rem;
}
.createPost-item{
    margin-left: .2rem;
    background-color: transparent;
    margin-top: .6rem;
    font-size: 1.5em;
}




/*
.createPost {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}
  
.createPostWrapper {
    padding: 10px;
}
  
.createPostTop {
    display: flex;
    align-items: center;
}
  
.createPostProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
  
.createPostInput {
    border: none;
    width: 80%;
}
  
.createPostInput:focus {
    outline: none;
}
  
.createPostHr {
    margin: 20px;
}
  
.createPostBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.createPostOptions{
      display: flex;
      margin-left: 20px;
}
  
.createPostOption{
      display: flex;
      align-items: center;
      margin-right: 15px;
      cursor: pointer;
}
  
.createPostIcon{
      font-size: 18px;
      margin-right: 3px;
}
  
.createPostOptionText{
      font-size: 14px;
      font-weight: 500;
}
  
.createPostButton{
      border: none;
      padding: 7px;
      border-radius: 5px;
      background-color: green;
      font-weight: 500;
      margin-right: 20px;
      cursor: pointer;
      color: white;
}
  
.createPostImgContainer{
    padding: 0 20px 10px 20px;
    position: relative;
}
  
.createPostImg{
    width: 100%;
    object-fit: cover;
}
  
.createPostCancelImg{
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
}
*/